{% extends "base.html" %}

{% block content %}

<div class="container about">
<div class="col s12 m7">
    <h2 class="header">ABOUT US</h2>
    <div class="card horizontal">
    <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
    </div>
    <div class="card-stacked">
        <div class="card-content">
        I am a very simple card. I am good at containing 
        small bits of information.am a very simple card. I
        am good at containing small bits of information.
        am a very simple card. I am good at containing small
        am a very simple card. I am good at containing small 
        bits of information.am a very simple card. I am good at containing small bits of information.am a very simple card.
        I am good at containing small bits of information. 
        bits of information.am a very simple card. I am good at containing small bits of information.am a very simple card.
        I am good at containing small bits of information.
        </div>
        <div class="card-action">
        <a href="#">This is a link</a>
        </div>
    </div>
    </div>

</div>






{% endblock %}