{% extends "base.html" %}

{% block content %}
<div class="about-back bg-image">
<div class="container text-black ">
    <div class="flex flex-wrap text-center text-black">

        <!-- ABOUT COLUMN -->

        <div class="w-full calling-about">
        <h1 class="my-6 ml-3 text-xl font-semibold center-title">WELCOME TO </h1>
        <h2 class="p-3 text-gray-400 center underline">FREE MARKET</h2>
        
        </div>
        <p>FREE-MARKET We are an online marketplace that empowers entrepreneurs to build a sustainable 
        business based on repeat customers. Our product is built by entrepreneurs, 
        for entrepreneurs -- we understand what it means to be too busy to sweat the small stuff.
        We aim to remove the technical expertise needed to build a profitable online business, 
        making the joys of entrepreneurship accessible for all.

Experience has proven to us that listening to our sellers' feedback is the best opportunity we have to consistently 
improve our product. That's why we've developed various tools over the years to make online selling easy.
Our business relies on making successful sellers,
so it's not a coincidence that the tools we offer can be customized to fit our sellers' needs.</p>
        <p>FREE MARKET stands for ‘optimism.’
It means we believe in the future.
It’s an understanding that, with the right mind-set,
we can make the future better by what we do today.

So we challenge ourselves to evolve, innovate and experiment,
to create a better, brighter future for everyone.

Today, our free digital content,
communications and technology, bringing the joy of discovery to almost
1.3 billion members across the world.
        </p>
        <h4 class="underline center-title">Our Mission</h4>
        <p>Our Mission is to
Contribute to society by creating value
through innovation and entrepreneurship

Empowering people to realize their hopes and dreams,
Embracing new thinking,
Free market changes the world through innovation.
        </p>
<h4 class="underline center-title">Our Vision</h4>
        <p>Vision


At Free-Market, we drive disruptive innovation,
Engaging knowledge, creativity and passion from around the world
To achieve ambitious goals
And help build communities in which people can pursue their dreams and live in happiness.
        </p>

    </div>
    </div>
    <footer class="page-footer footer">
        <div class="container">
            <div class="row">
            <div class="col l6 s12">
                <h5 class="orange-text underline">Our Motto</h5>
                <p class="grey-text text-lighten-4">Make the World a better place than ever!.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="orange-text underline">SOCIAL</h5>
                <ul>
                <li><a class="grey-text text-lighten-3" href="#!">facebook</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">instagram</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">twitter</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">linkedin</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            Copyright © 2019
            <a class="grey-text text-lighten-4 right" href="#!">Terms&conditions</a>
            </div>
        </div>
        </footer>
            
</div>

{% endblock %}