{% extends "base.html" %}

{% block content %}
<div class="contact-back bg-image ">
<div class="container text-black ">
    <div class="flex flex-wrap text-center text-black">

        <!-- ABOUT COLUMN -->

        <div >
        <h1 class=" center-title underline-title">CONTACT US</h1>
        <h3 >FREE MARKET strives to provide the best service possible with every contact! </h3>
We operate in an industry built on trust. This can only be achieved through communication and experienced support – from the first contact past your ten-year anniversary.

<h4>At Choice you always talk to a human!</h4>
<p>Have questions about selling your item or more? Our entire team receives specialized training regularly to ensure you're receiving the best information possible. From basic questions to complex compliance inquiries, we're here to help!

Interested in learning more about our services? Our Account Executives take the time to discuss and fullfil your expectations and help you make smart decisions that best meet your needs. </p>

        
        </div>

        <!-- CONTACTS COLUMN -->

        <div >
        <div class=" font-semibold  orange-text underline-title">Adress</div>
        <p >
            Potatisvägen 4A  <br>
            Sävast,Boden  <br>
            Sweden <br>
            <strong>Phone:</strong> +46 704052680 <br>
            <strong>Email:</strong> info@frank.com
        </p>
       
        </div>

        <!-- FORM COLUMN -->

        <div>
        
        
<h2 class="underline-title orange-text">Email</h2>

{% if success %}
    <p class="flashing">Thank you for your message. We'll get back to you shortly!.</p>

{% else %}

    {% for message in form.name.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.subject.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.message.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    <form action="{{ url_for('contact') }}" method=post>
    {{ form.hidden_tag() }}

    {{ form.name.label }}
    {{ form.name }}

    {{ form.email.label }}
    {{ form.email }}

    {{ form.subject.label }}
    {{ form.subject }}

    {{ form.message.label }}
    {{ form.message }}

    {{ form.submit }}
    </form>
{% endif %}

        </div>

    </div>
    </div>
    <footer class="page-footer footer-contac">
        <div class="container">
            <div class="row">
            <div class="col l6 s12">
                <h5 class="orange-text underline-title">Our Motto</h5>
                <p class="grey-text text-lighten-4">Make the World a better place than ever!.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="orange-text text-blue underline-title">SOCIAL</h5>
                <ul>
                <li><a class="grey-text text-lighten-3" href="#!">facebook</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">instagram</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">twitter</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">linkedin</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            Copyright © 2019 
            <a class="grey-text text-lighten-4 right" href="#!">Terms&conditions</a>
            </div>
        </div>
        </footer>
            
</div>
</div>
{% endblock %}